<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.app.domain.mapper.BoardMapper">
	
	<insert id="Insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.example.app.domain.dto.BoardDto">
		insert into board values(#{id},#{title},#{contents},#{writer},#{regDate})	
	</insert>
	
	<update id="Update" parameterType="com.example.app.domain.dto.BoardDto">
		update board set title=#{title} where id=#{id}
	</update>
	<delete id="delete" parameterType="com.example.app.domain.dto.BoardDto">
		delete from board where id=#{id}
	</delete>
	<select id="selectOne" parameterType="int" resultType="com.example.app.domain.dto.BoardDto">
		select *from board where id=#{id}
	</select>
	<select id="selectAll" resultType="com.example.app.domain.dto.BoardDto">
		select *from board
	</select>
	

</mapper>